asgiref
certifi
cffi
chardet
click
colorama
coreapi
coreschema
cryptography
defusedxml
Django
django-cors-headers
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
environ
Flask
idna
importlib-metadata
itsdangerous
itypes
Jinja2
MarkupSafe
oauthlib
psycopg2
pycparser
PyJWT
python-decouple
python3-openid
pytz
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
sqlparse
typing-extensions
uritemplate
urllib3
Werkzeug
whitenoise
zipp
