{% extends 'base.html' %} {% block content %}

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>About</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>About</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= About Us Section ======= -->
  <section id="about-us" class="about-us">
    <div class="container">

      <div class="row no-gutters">
        <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"
          data-aos="fade-right"></div>
        <div class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
          <div class="content d-flex flex-column justify-content-center">
            <h3 data-aos="fade-up">Emaar Construction Company for General Contracting & Architectural Designs</h3>
            <p data-aos="fade-up">
              Emaar Construction is one of the leading companies in the field of construction in Red Sea Governorate.
              Emaar Construction was established in 2014. And we were pleased implement various important projects in
              the zone. Some of our prominent projects are:
            </p>
            <div class="row">
              <div class="col-md-6 icon-box" data-aos="fade-up">
                <i class="icofont-traffic-light"></i>
                <h4>Red Sea Traffic</h4>
                <p>We improved the whole building of Red Sea Traffic withing the period from 2018 - 2021.</p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="icofont-home"></i>
                <h4>Constructing Villas</h4>
                <p>Designing & constructing various villas in (Al-Helal - Magawish - Mubarak 7 - Mubarak 6).</p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="icofont-ui-power"></i>
                <h4>ُElecticity Panels</h4>
                <p>Implementing electricity panels of Al-Ahia & Al-Nagda districts.</p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                <i class="icofont-5-star-hotel"></i>
                <h4>Oberoy Sahl Hasheesh Hotel</h4>
                <p>We improved and refurbished a concrete floors and pavements for Oberoy Sahl Hasheesh Hotel.</p>
              </div>
            </div>
          </div><!-- End .content-->
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="icon-box" data-aos="fade-up">
            <div class="icon"><i class="icofont-architecture-alt"></i></div>
            <h4 class="title"><a href="">Architecture Design</a></h4>
            <p class="description">We have very professional architects who can help you create your own unique & fancy
              design.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="icofont-cement-mix"></i></div>
            <h4 class="title"><a href="">Construction</a></h4>
            <p class="description">Our well-trained staff are capable of accurately implement the planned designs with
              accuracy & high quality</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="icofont-building-alt"></i></div>
            <h4 class="title"><a href="">Construction Improvements</a></h4>
            <p class="description">Our consultant enginieers can help you renovate, refurbish, and improve your old
              buildings</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="icofont-ui-browser"></i></div>
            <h4 class="title"><a href="">Modern Facilities</a></h4>
            <p class="description">We are using the most modern and up-to-date tools and devices to meet our clients'
              satisfaction.</p>
          </div>
        </div>

      </div>
  </section><!-- End Services Section -->



  <!-- ======= Our Team Section ======= -->
  <!-- <section id="team" class="team section-bg">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Our <strong>Team</strong></h2>
        <p>Our company consists of professional & experienced team that is always dedicated and motivated to create and
          innovate a unique lovely projects with very high quality.</p>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up">
            <div class="member-img">
              <img src="/static/img/team/team-01.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Eng. Samir Refaat</h4>
              <span>Company Consultant</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up">
            <div class="member-img">
              <img src="/static/img/team/team-02.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Eng. Mina Samir</h4>
              <span>Civil Section Chef</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up">
            <div class="member-img">
              <img src="/static/img/team/team-03.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Eng. Haidy Samir</h4>
              <span>Architectural Design Manager</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up">
            <div class="member-img">
              <img src="/static/img/team/team-04.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Eng. Martina Malak</h4>
              <span>Assistant Architectural Design</span>
            </div>
          </div>
        </div>

      </div>
  </section> -->
  <!-- End Our Team Section -->


  <!-- ======= Our Clients Section ======= -->
  <section id="clients" class="clients">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Our <strong>Clients</strong></h2>
        <p>We were glad to serve many clients by designing, developing, constructing, and supervising many projects.
          Some of our prominent clients are:</p>
      </div>

      <div class="row no-gutters clients-wrap clearfix" data-aos="fade-up">

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <p>Red Sea Traffic</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <p>New Magawish Villas</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <p>New Kawthar Appartments</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <p>Pyramisa Indian Restaurant</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <p>Pyramisa Arabic Restaurant</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <p>Northern Coast Restaurant</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <p>Aladdin Italian Restaurant</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <p>Alibaba Aqua Park</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Our Clients Section -->

</main><!-- End #main -->

{% endblock %}
